<footer>
    <div class="footer-flex">
        <img class="footer-logo" src="../assets/media/footer/cube-blanc.svg" alt="logo">
    </div>
    <div class="footer-flex" id="footer-menu">
        <h3>Menu</h3>
        <ul>
            <li>
                <a href="">Accueil</a>
            </li>
            <li>
                <a href="">Météo</a>
            </li>
            <li>
                <a href="">Liste de course</a>
            </li>
            <li>
                <a href="">IMC</a>
            </li>
            <li>
                <a href="">Citations</a>
            </li>
        </ul>
    </div>
    <div class="footer-flex">
        <img class="footer-social" src="../assets/media/footer/facebook.png" alt="">
        <img class="footer-social" src="../assets/media/footer/twitter.png" alt="">
        <img class="footer-social" src="../assets/media/footer/instagram.png" alt="">
    </div>
</footer>