*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

:root{
    --colorOne : #264653;
    --colorTwo : #2A9D8F;
    --colorThree :#E9C46A;
    --colorFour : #F4A261;
    --colorFive : #E76F51;
}

h2{
    text-align: center;
    margin: 30px 0;
}

body{
    /* height: 100vh; */
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
    color: white;
}

/**************** CONTAINER **********************/

.container{
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
}

/************* CONTAINER DOT ****************/

/* we use this code when i create the js logic */

.dot-group{
    margin: 150px auto;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.dot-group .dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #222;
    animation: animate-dot 1s linear infinite;
}

.dot-group .dot:nth-child(1) {
    animation-delay: 0s
  }
  
.dot-group .dot:nth-child(2) {
    animation-delay: 0.2s
  }
  
.dot-group .dot:nth-child(3) {
    animation-delay: 0.4s
  }
  
  @keyframes animate-dot {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(8px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

/************ CONTAINER TOP *************/

h1{
    text-align: center;
    margin: 10px 0;
} 

.container .top{
    display: none;
}

.container .card-img{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
}

.container .card-img img{
    width: 100%;
    height: 100%;
} 

.container .info{
    text-align: center;
    margin: 20px 0;
    font-size : 1.5rem;
}
.container .info div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.container .info div .degre{
    font-size : 2.2rem;
}
.container .info div .localisation{
    font-size : 1.7rem
}
.container .info p,
.container .info p .feft{
    font-size: 1.2rem;
}

/************** CONTAINER CARD FORM *************/

.container form{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.container form .input-group{
    display: flex;
    flex-direction: column;
}
.container form .input-group #choice-city{
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.container form .btn-city{
    margin-top: 5px;
    padding: 5px 8px;
    background-color: var(--colorThree);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

/********** CONTAINER FORECAST ***************/

.container .forecast{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    color: black;
}

.container .forecast .forecast-btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.container .forecast .forecast-btn-group .hour-btn{
    min-width: 100px;
    padding: 5px 8px;
    color: white;
    background-color: var(--colorFive);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.container .forecast .forecast-hours{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.container .forecast .forecast-hours .hours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-right: 1px solid black;
    padding-right: 7px;
}

@media screen and (max-width: 450px) {
    .container{
        width: 95%;
    }
}

/********** CONTAINER WEATHER CITY ********/

.container-weather-city{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px
}


/************ WEATHER NY *********/

.container-weather-ny{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
    background-color: white;
    color: black;
}

.container-weather-ny .info-ny{
    text-align: center;
    margin: 20px 0;
    font-size : 1.5rem;
}
.container-weather-ny .info-ny div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.container-weather-ny .info-ny div .degre-ny{
    font-size : 2.2rem;
}
.container-weather-ny .info-ny div .localisation-ny{
    font-size : 1.7rem
}
.container-weather-ny .info-ny p,
.container-weather-ny .info-ny p .feft-ny{
    font-size: 1.2rem;
}
/************ WEATHER LONDON *********/

.container-weather-london{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
    background-color: white;
    color: black;
}

.container-weather-london .info-london{
    text-align: center;
    margin: 20px 0;
    font-size : 1.5rem;
}
.container-weather-london .info-london div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.container-weather-london .info-london div .degre-london{
    font-size : 2.2rem;
}
.container-weather-london .info-london div .localisation-london{
    font-size : 1.7rem
}
.container-weather-london .info-london p,
.container-weather-london .info-london p .feft-ny{
    font-size: 1.2rem;
}

/************ WEATHER LONDON *********/

.container-weather-pekin{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
    background-color: white;
    color: black;
}

.container-weather-pekin .info-pekin{
    text-align: center;
    margin: 20px 0;
    font-size : 1.5rem;
}
.container-weather-pekin .info-pekin div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.container-weather-pekin .info-pekin div .degre-pekin{
    font-size : 2.2rem;
}
.container-weather-pekin .info-pekin div .localisation-pekin{
    font-size : 1.7rem
}
.container-weather-pekin .info-pekin p,
.container-weather-pekin .info-pekin p .feft-pekin{
    font-size: 1.2rem;
}
